---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
    <h1>About the project</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Beatae, quidem. Ut a sit reprehenderit nisi aut dolorem quam? 
        Veritatis laborum natus quaerat fuga exercitationem est 
        accusamus voluptate debitis consequatur autem.</p>
</Layout>